body {
    background-color: hotpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wrapper {
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}